<div class="main_body">

<h1> Share Your Journey </h1>

<%= form_for @visit do |f| %>
<article>

<p><%= f.label :name, "City Name:" %></p>
<p><%= f.text_field :name %></p>

<p><%= f.label :country, "Country Name:" %></p>
<p> <%= f.text_field :country %> </p>

<p><%= f.label :photo, "Add Favorite Photo:" %></p>
<p><%= f.text_field :photo %></p>

<p> <%= f.label :diary, "Experienced about Travel" %> </p>
<p> <%= f.text_area :diary %>

</article>
<p><%= f.submit %></p>

<% end %>


  <button type="button">
   <%= link_to "Back to Previous", visits_path %>
  </button>


</div>
