<div class="main_body" style="background: url(<%= @visit.photo %>) no-repeat center; background-size: cover">

<h1>Welcome to
  <br>
  <span class="visit_name">
  <%= @visit.name %>, <%= @visit.country %>
  </span>
  <br>
    <span class = "visit_diary"> <%= @visit.diary %> </span>
    <br>
</h1>
<time> Updated at <%= @visit.updated_at %> by <%= @visit.user.email %></time>

<p>
  <button type="button">
      <%= link_to "Edit Your Journey", edit_visit_path(@visit) %>
  </button>
</p>

<article>

<h2>Rating A Tourist Spot!</h2>
<% @ratings.each do |rating| %>

<div class="text_box">
<p> View <%= link_to "Review Full Rating", visit_rating_path(@visit, rating) %> by
  <%= rating.user.email %>
</p>
  <h4><%= rating.comment %></h4>
</div>
<% end %>
</article>
<br>

<button type="button">
 <%= link_to "Back to Previous", visits_path %>
</button>


<p>
  <button type="button">
    <%= link_to "Add Your Rating Review!", new_visit_rating_path(@visit) %>
  </button>
</p>

</div>
