<div class="main_body">

<h1> Add New Rating </h1>

<%= form_for [@visit, @rating] do |f| %>

<article>

<p> <%= f.label :recommendations_rating, "Do you recommend this Tourist Spot?" %> </p>

<p>
  <div class="star">
  <img src="<%= image_url("rating_star.png") %>" id="star1a">
  <img src="<%= image_url("rating_star.png") %>" id="star2a">
  <img src="<%= image_url("rating_star.png") %>" id="star3a">
  <img src="<%= image_url("rating_star.png") %>" id="star4a">
  <img src="<%= image_url("rating_star.png") %>" id="star5a">
  <div class="barone"></div>
  <%= f.hidden_field :recommendations_rating, id: "star-val" %>
</div>
</p>

<p> <%= f.label :safety_rating, "How would you rate the safety of this city?" %> </p>

<p>
  <div class="star">
  <img src="<%= image_url("rating_star.png") %>" id="star1b">
  <img src="<%= image_url("rating_star.png") %>" id="star2b">
  <img src="<%= image_url("rating_star.png") %>" id="star3b">
  <img src="<%= image_url("rating_star.png") %>" id="star4b">
  <img src="<%= image_url("rating_star.png") %>" id="star5b">
  <div class="bartwo"></div>
  <%= f.hidden_field :safety_rating, id: "star-val2" %>
</div>
</p>


<p> <%= f.label :comment, "Comments about this Journey!" %> </p>
<p> <%= f.text_area :comment %></p>

</article>

<p> <%= f.submit %> </p>

<% end %>

<div class="function">
  <button type="button" class="shutter_button">
   <%= link_to "Back", visits_path %>
  </button>
</div>
</div>
