<!DOCTYPE html>
<html>
  <head>
    <title>Project2-Travel Dairy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  </head>

  <body>
    <div class = "logo">
      <a href = "/"> <%= image_tag("ick_logo.png") %>
    </div>

    <div class = "navi">
      <% if !current_user %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
      <% else %>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
          <li>User: <%= current_user.email %></li>
      <% end %>
    </div>

  <div class = "flash">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

    <%= yield %>
  </body>
</html>
